tests/data/mmd_strict.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.met.no/schema/mmd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace"
           xmlns:mmd="http://www.met.no/schema/mmd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="http://www.w3.org/2001/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:element name="mmd" type="mmd:mmd_type"></xs:element>
    <xs:complexType name="personnel_type">
        <xs:all>
            <xs:element name="role" type="mmd:role_type"></xs:element>
            <xs:element name="name" type="xs:string"></xs:element>
            <xs:element name="organisation" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="email" type="xs:string"></xs:element>
            <xs:element name="phone" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="fax" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="contact_address" type="mmd:contact_address" minOccurs="0"></xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="contact_address">
        <xs:all>
            <xs:element name="address" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="city" type="xs:string"></xs:element>
            <xs:element name="province_or_state" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="postal_code" type="xs:string"></xs:element>
            <xs:element name="country" type="xs:string"></xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="mmd_type">
        <xs:sequence>
          <!--
            <xs:element name="metadata_version" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
          -->  
            <xs:element name="metadata_identifier" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="alternate_identifier" type="mmd:alternate_identifier_type" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="title" type="mmd:multilang_string" maxOccurs="unbounded" minOccurs="1"></xs:element>
            <xs:element name="abstract" type="mmd:multilang_string" maxOccurs="unbounded" minOccurs="1"></xs:element>
            <xs:element name="metadata_status" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="dataset_production_status" type="mmd:dataset_production_status_type" maxOccurs="1"
                        minOccurs="1">
            </xs:element>
            <xs:element name="collection" type="mmd:collection_type" maxOccurs="unbounded" minOccurs="1"></xs:element>
            <xs:element name="last_metadata_update" type="mmd:last_metadata_update_type" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="temporal_extent" type="mmd:temporal_extent_type" maxOccurs="unbounded" minOccurs="1"></xs:element>
            <xs:element name="iso_topic_category" type="mmd:iso_topic_category_type" maxOccurs="unbounded" minOccurs="1"></xs:element>
            <xs:element name="keywords" type="mmd:keywords_type" maxOccurs="unbounded" minOccurs="1"></xs:element>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="operational_status" type="mmd:operational_status_type" minOccurs="0" maxOccurs="1"></xs:element>
                <xs:element name="dataset_language" type="xs:string" maxOccurs="1" minOccurs="0" default="en"></xs:element>
                <xs:element name="geographic_extent" type="mmd:geographic_extent_type" maxOccurs="1" minOccurs="1"></xs:element>
                <xs:element name="access_constraint" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
                <xs:element name="use_constraint" type="mmd:use_constraint_type" maxOccurs="1" minOccurs="0"></xs:element>
                <xs:element name="project" type="mmd:project_type" maxOccurs="unbounded" minOccurs="0"></xs:element>
                <xs:element name="activity_type" type="xs:string" maxOccurs="unbounded" minOccurs="0"></xs:element>
                <!--
                <xs:element name="instrument" type="mmd:instrument_type" maxOccurs="unbounded" minOccurs="0"></xs:element>
                -->
                <xs:element name="platform" type="mmd:platform_type" maxOccurs="unbounded" minOccurs="0"></xs:element>
                <xs:element name="related_information" type="mmd:related_information_type" maxOccurs="unbounded" minOccurs="0"></xs:element>
                <xs:element name="personnel" type="mmd:personnel_type" maxOccurs="unbounded" minOccurs="1"></xs:element>
                <xs:element name="dataset_citation" type="mmd:dataset_citation_type" maxOccurs="unbounded" minOccurs="0"></xs:element>
                <xs:element name="data_access" type="mmd:data_access_type" maxOccurs="unbounded" minOccurs="0"></xs:element>
                <xs:element name="data_center" type="mmd:data_center_type" maxOccurs="1" minOccurs="0"></xs:element>
                <xs:element name="related_dataset" type="mmd:related_dataset_type" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="storage_information" type="mmd:storage_information_type" maxOccurs="1" minOccurs="0" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="last_metadata_update_type">
        <xs:sequence>
            <xs:element name="update" type="mmd:last_metadata_update_update_type" maxOccurs="unbounded" minOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="last_metadata_update_update_type">
        <xs:sequence>
            <xs:element name="datetime" type="xs:dateTime"></xs:element>
            <xs:element name="type" type="mmd:type_update"></xs:element>
            <xs:element name="note" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="type_update">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Created"></xs:enumeration>
            <xs:enumeration value="Minor modification"></xs:enumeration>
            <xs:enumeration value="Major modification"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="temporal_extent_type">
        <xs:sequence>
            <xs:element name="start_date" type="xs:dateTime"></xs:element>
            <xs:element name="end_date" type="xs:dateTime" minOccurs="0" ></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="multilang_string">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref='xml:lang'/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="alternate_identifier_type">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="geographic_rectangle_type">
        <xs:all>
            <xs:element name="north" type="xs:double"></xs:element>
            <xs:element name="south" type="xs:double"></xs:element>
            <xs:element name="east" type="xs:double"></xs:element>
            <xs:element name="west" type="xs:double"></xs:element>
        </xs:all>
        <xs:attribute name="srsName" type="xs:string" default="EPSG:4326"/>
    </xs:complexType>
    <xs:complexType name="geographic_extent_type">
        <xs:sequence>
            <xs:element name="rectangle" type="mmd:geographic_rectangle_type" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="polygon" type="mmd:geographic_polygon_type" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="geographic_polygon_type">
        <xs:annotation>
            <xs:documentation>This allows gml:polygon to be addedd</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="project_type">
        <xs:sequence>
            <xs:element name="short_name" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="long_name" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="use_constraint_type">
        <xs:sequence>
            <xs:element name="identifier" type="mmd:use_constraint_identifier_type" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="resource" type="mmd:use_constraint_resource_type" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="license_text" type="xs:string" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>This element holds the a free-text non formal license. If used identifier and resource should be left empty.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="use_constraint_identifier_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CC0-1.0"></xs:enumeration>
            <xs:enumeration value="CC-BY-4.0"></xs:enumeration>
            <xs:enumeration value="CC-BY-SA-4.0"></xs:enumeration>
            <xs:enumeration value="CC-BY-NC-4.0"></xs:enumeration>
            <xs:enumeration value="CC-BY-NC-SA-4.0"></xs:enumeration>
            <xs:enumeration value="CC-BY-ND-4.0"></xs:enumeration>
            <xs:enumeration value="CC-BY-NC-ND-4.0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="use_constraint_resource_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="http://spdx.org/licenses/CC0-1.0"></xs:enumeration>
            <xs:enumeration value="https://spdx.org/licenses/CC0-1.0"></xs:enumeration>
            <xs:enumeration value="http://spdx.org/licenses/CC-BY-4.0"></xs:enumeration>
            <xs:enumeration value="https://spdx.org/licenses/CC-BY-4.0"></xs:enumeration>
            <xs:enumeration value="http://spdx.org/licenses/CC-BY-SA-4.0"></xs:enumeration>
            <xs:enumeration value="https://spdx.org/licenses/CC-BY-SA-4.0"></xs:enumeration>
            <xs:enumeration value="http://spdx.org/licenses/CC-BY-NC-4.0"></xs:enumeration>
            <xs:enumeration value="https://spdx.org/licenses/CC-BY-NC-4.0"></xs:enumeration>
            <xs:enumeration value="http://spdx.org/licenses/CC-BY-NC-SA-4.0"></xs:enumeration>
            <xs:enumeration value="https://spdx.org/licenses/CC-BY-NC-SA-4.0"></xs:enumeration>
            <xs:enumeration value="http://spdx.org/licenses/CC-BY-ND-4.0"></xs:enumeration>
            <xs:enumeration value="https://spdx.org/licenses/CC-BY-ND-4.0"></xs:enumeration>
            <xs:enumeration value="http://spdx.org/licenses/CC-BY-NC-ND-4.0"></xs:enumeration>
            <xs:enumeration value="https://spdx.org/licenses/CC-BY-NC-ND-4.0"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="instrument_type">
        <xs:sequence>
            <xs:element name="short_name" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="long_name" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="resource" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="mode" type="mmd:mode_type" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="polarisation" type="mmd:polarisation_type" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="product_type" type="mmd:product_type_type" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="mode_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SM"></xs:enumeration>
            <xs:enumeration value="IW"></xs:enumeration>
            <xs:enumeration value="EW"></xs:enumeration>
            <xs:enumeration value="VW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="polarisation_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HH"></xs:enumeration>
            <xs:enumeration value="VV"></xs:enumeration>
            <xs:enumeration value="HH+HV"></xs:enumeration>
            <xs:enumeration value="VV+VH"></xs:enumeration>
            <xs:enumeration value="HV+HH"></xs:enumeration>
            <xs:enumeration value="VH+HV"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="product_type_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLC"></xs:enumeration>
            <xs:enumeration value="GRD"></xs:enumeration>
            <xs:enumeration value="OCN"></xs:enumeration>
            <xs:enumeration value="S2MSI1C"></xs:enumeration>
            <xs:enumeration value="S2MSI2A"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="role_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Investigator"></xs:enumeration>
            <xs:enumeration value="Metadata author"></xs:enumeration>
            <xs:enumeration value="Technical contact"></xs:enumeration>
            <xs:enumeration value="Data center contact"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dataset_production_status_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Planned"></xs:enumeration>
            <xs:enumeration value="In Work"></xs:enumeration>
            <xs:enumeration value="Complete"></xs:enumeration>
            <xs:enumeration value="Obsolete"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="iso_topic_category_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="farming"></xs:enumeration>
            <xs:enumeration value="biota"></xs:enumeration>
            <xs:enumeration value="boundaries"></xs:enumeration>
            <xs:enumeration value="climatologyMeteorologyAtmosphere"></xs:enumeration>
            <xs:enumeration value="economy"></xs:enumeration>
            <xs:enumeration value="elevation"></xs:enumeration>
            <xs:enumeration value="environment"></xs:enumeration>
            <xs:enumeration value="geoscientificInformation"></xs:enumeration>
            <xs:enumeration value="health"></xs:enumeration>
            <xs:enumeration value="imageryBaseMapsEarthCover"></xs:enumeration>
            <xs:enumeration value="intelligenceMilitary"></xs:enumeration>
            <xs:enumeration value="inlandWaters"></xs:enumeration>
            <xs:enumeration value="location"></xs:enumeration>
            <xs:enumeration value="oceans"></xs:enumeration>
            <xs:enumeration value="planningCadastre"></xs:enumeration>
            <xs:enumeration value="society"></xs:enumeration>
            <xs:enumeration value="structure"></xs:enumeration>
            <xs:enumeration value="transportation"></xs:enumeration>
            <xs:enumeration value="utilitiesCommunications"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="platform_type">
        <xs:sequence>
            <xs:element name="short_name" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="long_name" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="resource" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="orbit_relative" type="xs:integer" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="orbit_absolute" type="xs:integer" maxOccurs="1" minOccurs="0"></xs:element>
            <!-- Must add validation of content -->
            <xs:element name="orbit_direction" type="mmd:orbit_direction_type" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="instrument" type="mmd:instrument_type" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="ancillary" type="mmd:ancillary_platform_type" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="orbit_direction_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ascending"></xs:enumeration>
            <xs:enumeration value="descending"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ancillary_platform_type">
        <xs:sequence>
            <xs:element name="cloud_coverage" type="xs:decimal" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="scene_coverage" type="xs:decimal" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="timeliness" type="mmd:timeliness_type" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="timeliness_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NRT"></xs:enumeration>
            <xs:enumeration value="NTC"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="keywords_type">
        <xs:sequence>
            <xs:element name="keyword" type="xs:string" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="resource" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="separator" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="vocabulary" type="xs:string"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="data_access_type">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="type" type="mmd:data_access_type_type" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="resource" type="xs:string"></xs:element>
            <xs:element name="wms_layers" type="mmd:wms_layers_type" minOccurs="0" maxOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="data_access_type_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HTTP"></xs:enumeration>
            <xs:enumeration value="OPeNDAP"></xs:enumeration>
            <xs:enumeration value="OGC WMS"></xs:enumeration>
            <xs:enumeration value="OGC WFS"/>
            <xs:enumeration value="OGC WCS"/>
            <xs:enumeration value="FTP"/>
	    <xs:enumeration value="ODATA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="wms_layers_type">
        <xs:sequence>
            <xs:element name="wms_layer" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dataset_citation_type">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="author" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="publication_date" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="series" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="edition" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="volume" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="issue" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="publication_place" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="publisher" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="pages" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="isbn" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="doi" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="url" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="other" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="data_center_type">
        <xs:sequence>
            <xs:element name="data_center_name" type="mmd:data_center_name_type" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="data_center_url" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="data_center_name_type">
        <xs:sequence>
            <xs:element name="short_name" type="xs:string"></xs:element>
            <xs:element name="long_name" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xsd:complexType name="used_by_type">
        <xsd:attribute name="for" type="xsd:string"/>
    </xsd:complexType>
    <xs:simpleType name="related_dataset_relationship_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="documentation"/>
            <xs:enumeration value="auxiliary"/>
            <xs:enumeration value="parent"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="related_dataset_type">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="relation_type" use="required" type="mmd:related_dataset_relationship_type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="operational_status_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Operational"></xs:enumeration>
            <xs:enumeration value="Pre-Operational"></xs:enumeration>
            <xs:enumeration value="Experimental"></xs:enumeration>
            <xs:enumeration value="Scientific"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="related_information_type">
        <xs:sequence>
            <xs:element name="type" type="mmd:related_information_types_type" maxOccurs="1" minOccurs="1"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="resource" type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="collection_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CC"></xs:enumeration>
            <xs:enumeration value="NMAP"></xs:enumeration>
            <xs:enumeration value="ADC"></xs:enumeration>
            <xs:enumeration value="GCW"></xs:enumeration>
            <xs:enumeration value="NMDC"></xs:enumeration>
            <xs:enumeration value="SIOS"></xs:enumeration>
            <xs:enumeration value="NSDN"></xs:enumeration>
            <xs:enumeration value="DOKI"></xs:enumeration>
            <xs:enumeration value="DAM"></xs:enumeration>
            <xs:enumeration value="ACCESS"></xs:enumeration>
            <xs:enumeration value="NBS"></xs:enumeration>
            <xs:enumeration value="APPL"></xs:enumeration>
            <xs:enumeration value="YOPP"></xs:enumeration>
            <xs:enumeration value="METNCS"></xs:enumeration>
            <xs:enumeration value="SESS2018"></xs:enumeration>
            <xs:enumeration value="SESS2019"></xs:enumeration>
            <xs:enumeration value="SESS2020"></xs:enumeration>
            <xs:enumeration value="SIOSCD"></xs:enumeration>
            <xs:enumeration value="SIOSAP"></xs:enumeration>
            <xs:enumeration value="CVL"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="related_information_types_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Project home page"></xs:enumeration>
            <xs:enumeration value="Users guide"></xs:enumeration>
            <xs:enumeration value="Dataset landing page"></xs:enumeration>
            <xs:enumeration value="Scientific publication"></xs:enumeration>
            <xs:enumeration value="Data paper"></xs:enumeration>
            <xs:enumeration value="Data management plan"></xs:enumeration>
            <xs:enumeration value="Software"></xs:enumeration>
            <xs:enumeration value="Other documentation"></xs:enumeration>
            <xs:enumeration value="Observation facility"></xs:enumeration>
            <xs:enumeration value="Extended metadata"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="storage_information_type">
        <xs:sequence>
            <xs:element name="file_name" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="file_location" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="file_format" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="file_size" type="mmd:value_size"  maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="checksum" type="mmd:value_checksum"  maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="value_size">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="unit" type="xs:string" default="GB"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="value_checksum">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="mmd:checksum_type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="checksum_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="md5sum"></xs:enumeration>
            <xs:enumeration value="sha256sum"></xs:enumeration>
            <xs:enumeration value="sha384sum"></xs:enumeration>
            <xs:enumeration value="sha512sum"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
